.create-category-button,
.create-bug-button {
    margin-bottom: 20px;
}

.category-list,
.bug-list,
.tag-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-item,
.bug-item,
.tag-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #080f38;
    padding: 10px;
    border-radius: 5px;
}

.category-info,
.bug-info,
.tag-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}

.category-updated-at,
.category-details,
.category-created-at,
.bug-updated-at,
.bug-details,
.bug-created-at,
.bug-category,
.bug-description,
.bug-tags,
.tag-updated-at,
.tag-details,
.tag-created-at {
    text-align: left;
}

.category-id,
.category-title,
.bug-id,
.bug-title,
.tag-id,
.tag-title {
    font-weight: bold;
}

.category-details,
.bug-details,
.tag-details {
    display: flex;
    gap: 10px;
}

.category-actions,
.bug-actions,
.tag-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 20%;
}

.category-actions p,
.bug-actions p,
.tag-actions p {
    margin: 0;
}

.label {
    color: gray;
    font-style: italic;
    margin-right: 5px;
}